/* Base styles
---------------------------- */
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 18px;
}
#container {
    padding: 5% 10%;
}
h1 {
    text-align: center;
}
figure img{
    width: 100%;
    border: solid;
} 
figcaption {
    text-align: center;
}

/* Media queries
---------------------------------- */
/* 320px and up */
@media only screen and (min-width:320px) {
    section {
        width: 100%;
        display: flexbox;
    }
    figure {
        margin: 5%;
    }
}
/* 768px and up */
@media only screen and (min-width:768px) and (max-width:1199px) {
    .mobile, .tablet {
        margin: 5%;
        float: left;
        width: 40%;
    }
}
/* 1200px and up */
@media only screen and (min-width:1200px) {
    section {
        display: flex;
        align-items: center;
    }
    .mobile, .tablet, .desktop {
        margin: 1%;
    }
}