body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }


/* ==== LINKS CSS ==== */
a {
    text-decoration: none;
}
/*all buttons and the submit form button do this on mouse hover*/
a button:hover{ 
    background-color: lightgrey;
    color: rgb(196, 24, 130);
}
.topnav a:hover, button, footer a:hover {
    background-color: transparent;
    color: rgb(196, 24, 130);
    /* color: rgb(250, 128, 114);salmon pink */
}
.active {
    color: rgb(196, 24, 130);
    /* color: rgb(250, 128, 114);salmon pink */
    font-weight: 700;
}
/* -end base CSS- */

/* ====  HEADER CSS ==== */
header {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: 999;
    display: table;
    font-size: 0;
    top: 0;
}
.header_content {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 20px 0px 0 0;
}
/* top left, name container */
#logo {
    width: 340px;
    height: 50px;
    float: left;
    margin-left: 70px;
    display: flex;
}
/* my name. top right corner.  */
.logo {
    color: #3b3b3b;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    margin-left: 10px;
}
/* -Top Nav CSS- */
.topnav  {
    /* border: solid; */
    overflow: hidden;
    float: right;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.topIcons {
      float: right;
}
/* top and bottom icons */
.social_icons {
    font-size: 15px;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon { 
    display: none;
}
/* -end top nav CSS- */
/* ==== end header CSS ==== */


/* === TOP INTRO === */
/* places section.intro , right below the header */
.intro {
    margin-top: 12%;
    height: 90vh;
}
.top_greeting {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #3b3b3b;
}
.top_introduction {
    width: 639px;
    height: 110px;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    color: #3b3b3b;
    margin: 20px auto 40px;
}
.arrow {
    width: 220px;
    height: 60px;
    padding: 15px;
    text-align: center;
    margin:  0 auto; 
}
.arrow i {
    border: solid #3b3b3b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* ====  end top intro css ==== */

/* ==== PROJECT SECTION ==== */
#projects_section {
    width: 100%;
    height: 100%;
    padding: 3% 10% 5% 10%;
    /* border:solid ; */
}
.projects {
    padding-top: 30px;
    /* border: solid red; */
}
/* type of projects header */
h3 { 
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.js_projects {
    padding-top: 10px;
}
/* projects */
.project {
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom: 2px lightgrey solid;
}
/* removes bottom border for last project */
.last {
    border-bottom:  none;
}
/* image side */
img {
    vertical-align: middle;
    border-style: none;
}
.project_image {
    width: 40%;
    height: 40%;
    padding: 3%;
    margin-right: 5%;
}
.image {
    width: 100%;
}
/* project description right side padding */
.project_description {
    width: 60%;
    padding: 3% 3% 0 0;
}
.project_title {
    font-size: 25px;
    font-weight: 500;
}
.project_category {
    margin-top: 1%;
}
.project_category span {
    width: auto;
    height: auto;
    background-color: rgb(221, 219, 219);
    color: rgb(196, 24, 130);
    padding: 0.5% 1%;
    border-radius: 5px;
    font-weight: 300;
    font-size: 12px;
    margin: 0 1% 1% 0;
    letter-spacing: 0;
}
.brief_description {
    width: 100%;
    padding: 3% 0;
    text-align: justify;
    font-size: 14.4px;
    line-height: 1.9;
}
/* all buttons contain this appearance */
.buttons {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 30px;
}
.buttons button {
    width: 40%;
    height: 45px;
    padding-left: 10px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 0.5px solid #3b3b3b;
    box-shadow: 4px 4px 4px #333;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
/* ==== end projects section ==== */


/* ==== FOOTER SECTION ==== */
footer {
    text-align: center;
    display: flexbox;
    margin-left: 0;
    width: 100%;
    height: 60px;
    padding: 2% 10% 0% 5%;
    background-color: #3b3b3b;
    color: white;
    font-size: 14px;
    /* border: solid aqua; */
}
footer .social_icons {
    color: white;
    margin-right: 2%;
}
.footer_right,
.footer_left {
    width: 45%;
    height: 10px;
    display: inline;
    /* color: white; */
}
.footer_right {
    float: right;
    margin: 0;
    text-align: right;
}
/* ==== end footer ==== */


/* ==== MEDIA QUERIES TO VIEW ON DIFFERENT DEVICES ====*/
/* ==== Responsive Top Nav Bar CSS ==== */
@media screen and (max-width: 716px) {
    .topnav  a {
        display: none;
        padding-top: 20px;
    }
    .topnav .active {
        padding-top: 80px;
    }
    .topnav a.icon {
        float: right;
        display: block;  
    }
    .topnav {
        float: none;
        position: relative;
        bottom: 60px;
        padding-bottom: 24px;
        width: 100%;
        background-color:white;
        overflow: hidden;
        clear: both;
        /* border-style: dashed; */
    }
    /* link starts below logo so that in wont mess with the flow */
    .active {
        clear: both;
    }
    a.nav_list_item, a.active {
        padding-bottom: 40px;
    }
    .topIcons {
        /* border: dotted; */
        width: 100%;
        float: none;
        display: flex;
        padding: 0 33.33% ;
        margin-bottom: 0px;
    }
    nav .social_icons {
        width: 100%;
        margin: 0 2%;
        padding-bottom: 150px;
        /* border: solid; */
    }
    footer .social_icons {
        margin-right: 2%;
        width: 100%;
        margin-bottom: 2%;
    }
  }
@media screen and (max-width: 716px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive  a {
      float: none;
      display: block;
      text-align: center;
      
    }
} 
/* end responsive top nav bar css */

/* (MAX-WIDTH: 600PX) */
@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 70px;
    }
    .header_content {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        position: absolute;     
    }
    #logo {
        width: 250px;
        height: 40px;
        margin-left: 10px;
        padding-left: 8px;
        position: relative;
        float: left;
    }
    .logo {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 3px;
    }
    /* projects */
    .projects {
        width: 100%;
        height: 100%;
        padding: 20% 10% 15%;
    }
    .project {
        text-align: center;
        width: 80%;
        margin: 2% auto;
        display: block;
    }
    .project_image {
        width: 100%;
        height: 100%;
        padding: 3%;
        margin-right: 5%;
    }
    .project_description {
        width: 100%;
    }
    .project_title {
        font-weight: 700;
        font-size: 19px;
    }
    .project_category {
        font-weight: 300;
        font-size: 12px;
        margin-top: 10px;
    }
    .project_category span {
        letter-spacing: 0px;
        padding-left: 2% 3%;
        margin-left: 5px;
    }
    .brief_description {
        font-size: 12px;
    }
    .buttons {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .buttons button {
        width: 100%;
        margin: 2% 0 5% 0;
        font-size: 14px;
    }
}
/* end (max-width:600) */
/* (MIN-WIDTH:600PX) AND (MAX-WIDTH:768PX) */
@media (min-width:600px) and (max-width:768px) {
    header {
        width: 100%;
        height: 80px;
    }
    .header_content {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        position: absolute;     
    }
    #logo {
        width: 250px;
        height: 40px;
        margin-left: 10px;
        position: relative;
        float: left;
        padding-left: 8px;
    }
    .logo {
        font-size: 22px;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 3px;
    }
    .buttons {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .buttons button {
        width: 110px;
        margin: 5px 10px;
        font-size: 14px;
    } 
}
/* (MAX-WIDTH:767PX)
    .TOP_GREETING,FOOTER */
@media screen and (max-width: 767px) {
    .top_greeting {
        width: 100%;
        height: 32px;
        margin-top: 15%;
        font-size: 22px;
        font-weight: 700; 
        letter-spacing: 1px;
        text-align: center;
    }
    .top_introduction {
        width: 100%;
        height: 50px;
        font-size: 14px;
        line-height: 1.8;
        text-align: center;
        margin: 50px auto 100px;
        padding: 0 40px ;
    }
    footer {
        /* border: solid red; */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90px;
        padding: 1% ;
        font-size: 14px;
    }
    p.footer_left {
        margin-bottom: 15px;
    }
    P.footer_right{
        margin-bottom: 0%;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .footer_right,
    .footer_left {
        width: 100%;
        height: 20px;
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .top_greeting {
        width: 100%;
        height: 32px;
        margin-top: 80px;
        font-size: 22px;
        font-weight: 700; 
        letter-spacing: 1px;
        text-align: center;
    }
}
/* (MIN-WIDTH:768PX) AND (MAX-WIDTH:1024PX) */
@media (min-width:768px) and (max-width:1024px) {
    header {
        width: 100%;
        height: 70px;
    }
    .header_content {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        position: absolute;     
    }
    #logo{
        width: 300px;
        height: 40px;
        margin-left: 10px;
        position: relative;
        float: left;
        padding-left: 8px;
    }
    .logo {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 1.4px;
        margin-left: 10px;
    }
    .buttons {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .buttons button {
        width: 40%;
        margin: 5px 10px;
        font-size: 14px;
    }
}